header {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	margin: 5px;
}

h1, h2, h3, h4, h5, h6 {
   font-family: sans-serif;
   font-weight: bold;
}

a {
	background: none;
	color: #0645ad;
	text-decoration: none;
}

ul {
    list-style-type: disk;
}

.center {
	text-align: center;
}

.profile {
	font-family: sans-serif;
	border: 1px solid #aaa;
    padding: 5px;
    background-color: #f9f9f9;
    float: left;
    margin: 5px;
}

.profile h4, h5, img {
	margin: 5px;
}

.profile th {
	vertical-align: top;
    text-align: left;
    font-size: 90%;
}

.profile td, a {
    line-height: 1.5em;
    text-align: left;
    font-size: 0.9em;
}

.profile_info {
	float: left;
}

.contents {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	margin: 5px;
	float: left;
	width: 200px;
}

.contents a {
	font-size: 1em;
}

.category_container {
	margin: 5px;
	clear: both;
	float: left;
	width: 350px;
}

.logo {
	position: relative;
	width: 30px;
	height: 30px;
}

.search {
	position: relative;
	width: 300px;
	background-image: url("../img/search.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-position: 96% 45%;
	outline: 0;
}

.category {
	border: 1px solid #aaa;
	border-spacing: 3px;
	-webkit-border-horizontal-spacing: 3px;
    -webkit-border-vertical-spacing: 3px;
    padding: 5px;
    margin: 5px;
}

.category a {
	font-size: 1em;
}

.contents_title h4 {
	display: inline;
}

.categories_title h3 {
	display: inline;
	font-size: 1em;
}

.category h4 {
	display: inline;
}

.contents ol {
	margin: 5px;
}

.category ul {
	margin: 5px;
}

.movies_table {
	margin: 10px;
	clear: both;
	float: left;
	width: 350px;
}

.new_moview {
	display: none;
	clear: both;
	border: 1px solid #aaa;
	background-color: #f9f9f9;
    padding: 10px 40px; 
    background-color: #f9f9f9;
    width: 310px;
}

.new_moview input {
	width: 300px;
	position: relative;
	right: 35px;
	margin-top: 2px;
}

.new_moview button {
	position: relative;
	margin:5px;
	left: 210px;
}

.movies {
	display: inline;
	margin: 5px;
	clear: both;
	float: left;
	width: 350px;
}

.movies a {
	font-size: 1em;
	clear: both;
	display: inline;
}


